body{
    margin: 0;
    overflow-x: hidden;
}
#section-1{
    background-image: url("./pictures/flowers_bg_3.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    coloR: white;

    /* parallax */
    background-attachment: fixed;
    background-position: center;
}
#section-1>div:nth-child(1){
    font-family: 'Passions Conflict', cursive;
    font-size: 100px;
}


/* section-2 */
#section-2{
    background-color: white;
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
}
#section-2>div{
    margin-top: -32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section-2>div>.top{
    width: 208px;
    height: 208px;
    border-radius: 50%;
    border: 5px dotted rgb(255, 250, 115);
    transition: .3s;
    overflow: hidden;
}
#section-2>div>.top>img{
    cursor: pointer;
    border: 4px solid black;
    border-radius: 50%;
    transition: .3s;
}

/* animation */
#section-2>div>.top:hover{
    border: 5px dashed white;
    overflow: hidden;
    /* transform: rotate(15deg); */
    transition: .3s;
}
#section-2>div>.top:hover>img{
    transform: scale(1.9);
    transition: .3s;
}

/* section-2 bottom */
.bottom{
    padding: 20px;
    /* border: 1px solid grey; */
    border-radius: 20px;
    box-shadow: 0 0 20px grey;
    margin-top: 50px;
    height: 400px;
    width: 80vw;
}
.bottom>.navbar{
    display: flex;
    justify-content: space-evenly;
}
a + a{
    border-left: 1px solid black;
}
a{
    width: 25%;
    transition: .3s;
    text-decoration: none;
    height: 40px;
}
a>div{
    text-align: center;
    padding: 10px;
}
a:nth-child(1)>div:focus{
    outline: none;
}

/* animation */
a>div:focus{
    background-color: rebeccapurple;
    border: none;
    border-left: 1px solid black;
    color: white;
    transition: .3s;
}
a:hover{
    background-color: rgb(213, 213, 213);
}
a{
    color: black;
}

/* content */
.content-wrapper{
    position: absolute;
    overflow: auto;
    width: 80vw;
    height: 360px;
    /* background-color: red; */
    display: flex;
    scroll-behavior: smooth;
}
.content{
    width: 1220px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 20px;
}
#fourth-content{
    display: block;
    margin-top: 150px;
}

